SECRET_KEY=example-secret-key
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=instagram_sync_db
POSTGRES_USER=instagram_sync_user
POSTGRES_PASSWORD=instagram_sync_password
INSTAGRAM_API_ACCESS_TOKEN=example-access-token